@media (min-width: 1400px) {

    /* movies favorites */
    .movies.favorites {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1000px) {
    .register-container {
        max-width: 900px;
    }

}

/* large screen size */
@media (max-width: 1450px) {

    /* movies main */
    .movies.main-movies {
        grid-template-columns: repeat(3, 1fr);
    }


    /* themes */
    body .themes {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}



/* medium screen size */
@media (max-width: 1100px) {

    /* movies */
    .movies {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }

    .movies.main-movies {

        grid-template-columns: repeat(2, 1fr);
    }


    /* themes */
    body .themes {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

}


/* small screen size */
@media (max-width: 766px) {
    body .whyRegister {
        width: 45%;

        h2 {
            font-size: 1.2rem;
        }

        ul {
            font-size: 1rem;
        }

        .read-more {
            display: block;
        }

        .extra-info {
            display: none;
        }
    }

    body .statistics-container {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* phone nav */
    .side-nav .big-nav {
        display: none;
    }

    .phone-nav-wraper {
        display: block;
    }

    /* phone search bar */
    /* close */
    .search input {
        width: 45px !important;
    }

    body .search-wraper .search i {
        transform: translate(80%, -50%);
        cursor: pointer;
    }

    .search input::placeholder {
        opacity: 0;
        appearance: none;
    }

    /* open */
    .search-wraper.open .search input::placeholder {
        opacity: 1;
        appearance: visible;
    }

    .search-wraper.open input {
        width: 250px !important;
    }

    .search-wraper.open .search i {
        transform: translate(0, -50%);
    }

    .form-demo-wraper {
        flex-direction: column;
    }

    .form-demo-wraper .whyRegister {
        width: 80%;
        margin: 1.2rem auto;
    }


    /* favorite */
    .movies .movie .movie-info p {
        display: none;
    }

    .movies .movie .movie-info h2 {
        font-size: 1.2rem;
    }

    .search-wraper.users-search .movies-list {
        top: 2%;
    }
}


/* smaller screen size */
@media (max-width: 576px) {


    /* themes */
    body .themes {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }


    /* users */
    .users .user-card {
        width: 80%;
        margin: 0 auto;
        max-height: 400px;
    }


}


/* really small screen size */
@media (max-width: 446px) {

    .creators-movies-container h1 {
        font-size: 1.4rem;
    }

    body .statistics-container {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }


    body .user-demo-card {
        width: clamp(30%, 300px, 100%);
        margin: 0 auto;
    }

}