section {
    text-align: start;
    width: 80%;
    margin: 2rem auto;

}

/* 
a.active {} */

.form-control:focus {
    box-shadow: none;
}


.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* mini chat */
.card-body {
    position: relative;
}

.user-chat-icon {
    width: 35px;
    border-radius: 50%;
    position: absolute;
    right: -15px;
    top: -15px;
    box-shadow: -1px 1px #fff;
    flex-shrink: 0;
}

.card-body .timeStamp {
    position: absolute;
    right: 5px;
    bottom: 2px;
    font-size: 14px;
}

.text-logo {
    font-size: 2rem;
    color: #eee;
    filter: drop-shadow(0 0 5px var(--light-bgc));
    text-shadow: 2px 1px 5px #ccc;
}


/* users */
.users-container {
    width: 85%;
    margin-top: 3.5rem;
    margin-bottom: 4rem;
}

.users {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.users .user-card {
    max-height: 400px;
}

.users .user-data {
    height: 150px !important;
}